<%- include("./partials/header") %>
<div class="container">
        <h1>100 Day Cycle - A New Structure</h1>
        <div class="container textReader">
            <p>
                I've been thinking a lot these last days about the structure that you can build organizing time within cycles. We, as humans, tend to 
                appreciate having frames of reference on which to base our actions, and in this moment I feel commited for doing the work that is needed
                in the next 100 days, starting on the 10 2020 VII. I think that putting up 100 solid days of work gives you the joy of offering yourself space afterwards for resting the mind,
                and I want to start working on 100/21.75 day cycles. 100 days of work with a specific goal in mind, and then 21.75 days of "resting" and
                putting in perspective what happened on the last 100 days, and also planning strategically what will happen in the next 100 days.
            </p>
            <p>
                Here in Chile institutions work mostly on semesters, but I have the feeling that the pandemic will shift this. I envision a much more
                continuous year, without those kind of sharp interruptions. I remember when I was at school that I hoped for the vacations to come fast.
                I hope for a future where children enjoy school so much that they want to be all year round at school.
            </p>
            <p>
                I used to live in Santiago, then in the countryside, and then back in Santiago. What called my attention the most was the huge difference
                in the city of the weekdays related to the weekend. Saturday and Sunday are worlds apart in the city, and that is the most unnatural thing.
                Nature doesn't have those kinds of differentiations, a tree doesn't care if it is wednesday or sunday. We only care, and we have built our
                cities apart from this basic notion of how nature works. I have in my mind a future where countries become de-centralized, and as internet
                gets more available, people work from more rural places. This pushes up the economy of this places, and it has a huge sustainability aspect.
                It also brings us more connected with the natural cycles that occur around us, and that will have us caring more about how we interact with our
                surroundings. 
            </p>
            <p>
                All this for saying that the 100/21.75 cycle really looks interesting and I'm looking forward for experiencing in the next months through shipping
                every day the dailies. This gives a huge motivation for me, and I appreciate it a lot.
            </p>
            <p>
                Thank you for reading!
            </p>
            <p>jp</p>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" href="/">Back to <strong>The Office</strong></a>
        </div>
</div>
<%- include("./partials/footer") %>