<%- include("./partials/header") %>
<div class="container">
        <h1>Introduction [Page 4/4]</h1>
        <div class="container textReader">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quae accusantium voluptate eius voluptas mollitia corporis provident ex? Minus et in nobis, odio itaque optio. Ratione veritatis harum minima numquam!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fugiat exercitationem blanditiis deleniti temporibus iusto, nostrum hic quidem architecto voluptatibus nisi numquam minus eum suscipit tempore cumque, ea officiis ipsa.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis odit facilis, debitis expedita a tempora. Distinctio ratione sapiente totam ab, reprehenderit delectus, repellendus, officia qui maxime asperiores debitis nostrum sed?</p>
        </div>
        <div class="text-center">
            <a class="btn btn-warning" href="/introduction3">Previous Page</a>
            <a class="btn btn-primary" href="/">Back to <strong>The Office</strong></a>
        </div>
</div>
<%- include("./partials/footer") %>