<%- include("./partials/header") %>
<div class="container">
        <h1>Introduction [Page 2/2]</h1>
        <div class="container textReader">
            <p>It's all about the music. I deeply think that within music there is a key of understanding better our human nature, and through that
                process, build empathy in our societies. The moment we hear music from a place that we feel is completely disconnected with our reality
                -let's say Africa, for example- and it brings shivers up our spine, it's because there is something larger that connects us. I believe
                this is the next step in our species, that because of the pandemic we will realize that we are closer than ever, and I want to create a place
                where this gathering can happen. The internet is an amazing place, and we are just beggining to understand this. 
            </p>    
            <p>
                I really appreciate that you are taking time for sharing this space with me, and I can assure you that I'm working hard on building
                something that can be valuable to you. If you are here is because you care, and if we add up two persons that care we get much more
                than two persons that care. I'll continue to develop this project in time so I can explain better what it is all about.
            </p>
            <p>
                Thank you,
            </p>
            <p>jp</p>
        </div>
        <div class="text-center">
            <a class="btn btn-warning" href="/introduction1">Previous Page</a>
            <a class="btn btn-primary" href="/">Back to <strong>The Office</strong></a>
            <!-- <a class="btn btn-success" href="/introduction3">Next Page</a> -->
        </div>
</div>
<%- include("./partials/footer") %>