<%- include("./partials/header") %>
<div class="container">
        <h1>Introduction [Page 1/2]</h1>
        <div class="container textReader">
            <p> This is the workspace that I built so I could organize the work I'm doing for creating a platform that I have been envisioning since a while. 
                Its name is either "Gringo Loco" and "Human Music", and my objective with this introduction is to try to bring some of it to written words 
                so you can have an idea of what it is. It's really hard for me to explain it, that's why I decided to learn how to code web applications
                for being able to turn it into a reality that I could show and through that be able to explain it. There is no better means of learning
                about something than through direct experience, so what I'm looking for with this is generating that space of interaction within my
                creation and the people that end up appreciating it. I'll see what happens and then evolve, trying to understand what was the reaction of the users and 
                learning as much as I can in the process.
            </p>
            <p>
                I have already some part of the platform built, but it's not in a state that I would feel comfortable sharing. There is a lot of things
                that I miss in it, and I'm working on getting them ready. The following is an abstract of the "About" page
                of the project:
            </p>
            <p class="intro">Human Music is a project that starts with the dream of a better future. I experience joy through the listening of music that I have never heard before, and I experience joy
                living experiences that remind me about the random nature of our existence as humans. Since the internet is a environment governed by algorythms that seek the maximization of
                profits of the owners of the different platforms, I decided to create a platform that generates music recommendations through which I think is one of the ultimately random algorythms in the world: Human Nature.
            </p>
            <p class="intro">This place is for sharing from the heart. Each one of us has one opportunity per year for sharing something that you think will be valuable for whoever listens. Something
                that becomes a space of light within the darkness. Something that can help anyone that listens overcome anger, sadness or pain. Something that can help anyone that listens to
                foster happiness, gratitude or confort. Something that can help anyone that listens to go deeply inside of (him/her)self, and through that process fight (his/her) demons and 
                become a better actor for our society in this crazy -and completely amazing- experience that we are all sharing called life. Something that can help whoever listens feel that (he/she) is not alone, because (his/her) company is all that is needed.
            </p>
            <p class="intro">There is no limitations, there is no boundaries, there is nothing that is good, there is nothing that is bad. The only thing that I ask, and what will make this place special,
            is that your recommendation comes from your heart. I believe music is something like a string that unites us all, and through the understanding of this basic fact we can reach
            to a conception that on the source we are all part of the same family. We are all human. We are all in this together, no matter from where we come from, no matter our color of skin,
            money in the bank, no matter if you are sad, no matter if you are angry. We are all in this together, and if we recongnize this basic fact we can move forward for building 
            a better world.
            </p> 
        </div>
        <div class="text-center">
            <a class="btn btn-primary" href="/">Back to <strong>The Office</strong></a>
            <a class="btn btn-success" href="/introduction2">Next Page</a>
        </div>
</div>
</div>
</body>
</html>