<%- include("./partials/header") %>
<div class="container text-center">
        <h1>The Office</h1> 
        <p>Welcome to the place where (Gringo Loco / Human Music) is being created</p>
        <div class="text-center">
            <a class="anchorTag" href="introduction1">Introduction to the Project</a><br>
            <a class="anchorTag" href="100dayChallenge">100 Day Cycle - A new structure</a><br>
            <a class="anchorTag" href="quests">Quests</a><br>
            <a class="anchorTag" href="ideas">Ideas</a><br>
            <a class="anchorTag" href="dailies">Dailies</a><br>
            <a class="anchorTag" href="feedback">Feedback</a>
        </div>
</div>

<%- include("./partials/footer") %>